apiVersion: servicecatalog.k8s.io/v1beta1
kind: ServiceInstance
metadata:
  name: {{ .Values.services.uaa.name }}
spec:
  clusterServiceClassExternalName: xsuaa
  clusterServicePlanExternalName: application
  parameters:
    xsappname: {{ .Values.services.uaa.xsappname }}
    tenant-mode: dedicated
<% if(app2appType === "access"){ -%>
<% if(app2appMethod.includes("user")){ -%>
    foreign-scope-references:
      - $ACCEPT_GRANTED_SCOPES
<% } -%>
<% if(app2appMethod.includes("machine")){ -%>
    authorities:
      - $ACCEPT_GRANTED_AUTHORITIES
<% } -%>
<% } -%>
<% if(authorization){ -%>
    scopes:
      - name: $XSAPPNAME.User
<% if(app2appType === "authorize"){ -%>
<% if(app2appMethod.includes("user")){ -%>
        granted-apps:
          - $XSAPPNAME(application,<%= app2appName %>)
<% } -%>
<% if(app2appMethod.includes("machine")){ -%>
        grant-as-authority-to-apps:
          - $XSAPPNAME(application,<%= app2appName %>)
<% } -%>
<% } -%>
        description: User
      - name: $XSAPPNAME.Admin
        description: Admin
<% if(attributes){ -%>
    attributes:
      - name: Region
        description: Region
        valueType: string
<% } -%>
    role-templates:
      - name: User
        description: User
<% if(attributes){ -%>
        attribute-references:
          - name: Region
<% } -%>
        scope-references:
          - $XSAPPNAME.User
      - name: Admin
        description: Admin
        scope-references:
          - $XSAPPNAME.Admin
    role-collections:
<% if(!attributes){ -%>
      - name: {{ .Values.services.uaa.xsappname }}_User
        description: {{ .Values.services.uaa.xsappname }} User
        role-template-references:
          - $XSAPPNAME.User
<% } -%>
      - name: {{ .Values.services.uaa.xsappname }}_Admin
        description: {{ .Values.services.uaa.xsappname }} Admin
        role-template-references:
          - $XSAPPNAME.Admin
<% }else{ -%>
    scopes:
      - name: uaa.user
        description: Token Exchange
    role-templates:
      - name: TOKEN_EXCHANGE
        description: User
        scope-references:
          - uaa.user
<% } -%>
<% if(authentication){ -%>
    oauth2-configuration:
      redirect-uris:
        - https://{{ .Values.services.app.name }}.{{ .Values.clusterDomain }}/login/callback
<% } -%>